.name-page {
  height: 12vh;
  background: linear-gradient(to right, rgb(255, 0, 6), rgb(254, 248, 1));
  // margin: 10px auto;

  h1 {
    color: white;
    line-height: 10vh;
    text-align: center;
    margin: 0;
  }
}
